* {
    box-sizing: border-box;
    /* border: 2px dashed #ccc; */
}

/* This is global */
body { 
    font-size: 14px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    color: #2d2d2d;
    max-width: 100%
}
ul {
    list-style-type: none;
}
h1,h2,h3{
    font-family: 'Playfair Display';
}
a:hover{
    color: #b64036;
}
img {
    max-width: 100%;
}
/* This is my header */

.site-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
    /* align-content: center; */
}
.site-logo {
    order: 1;
    max-width: 100px;
    width: 50%;
}
.site-nav {
    width: 100%;
    order: 3;
    justify-content: center;
}
.site-cart {
    width: 50%;
    max-width: 150px;
    order: 2;
    align-items: left;
}
.site-nav .nav {
    display: flex;
    padding: 0;
}






/* This is my header section */
/*.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-left: 40px;
    margin-right:40px;
    margin-bottom: 8px;
}          
.site-nav li{
    text-align: center;
    display: inline-block;
    padding: 30px;
    text-transform: uppercase;
}
.nav {
    margin: 0 auto;
    padding: ;
}
.nav a {
    text-decoration: none;
    color:#e2574c;

}
.site-logo img{
    width: 150px;
}
.site-cart img{
    width: 50px;
}



/* This is my banner section */
.banner {
    position: relative;
    height: 400px;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/banner-girl.png), url(images/flower-bkgd.jpg);
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: contain, contain, contain;
    background-position:contain, ccontain 70px, cover; 
    width: 100%;
}
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.new {
    text-transform: uppercase;
    font-size: 1rem;
    text-shadow: 1px 1px gray;
}
.spring {
    font-family: 'Playfair Display' serif;
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 1px 1px gray;
}
/* This is my Third Section */

.hand-crafted {
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    color: #2d2d2d;
}
.products     {
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    color: #2d2d2d;
}
.site-updates {
    background-position:bottom;
    background-image: url(images/wave-bkgd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    height: 400px;
    color: white;

}

/* This is my featured items */

.featured-items {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.items-1{
    width: 100%;
    height: 50vw;
    border: 1px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center ;
    background-image: url(images/mens-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.items-2{
    width: 50%;
    height: 50vw;
    border: 1px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center ;
    background-image: url(images/trends-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 400px; */
   
}
.items-3{
    width: 50%;
    height: 50vw;
    border: 1px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center ;
    background-image: url(images/glasses-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 400px; */
}
.items-4{
    width: 50%;
    border: 1px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center ;
    background-image: url(images/sale-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 400px; */
}
.items-5 {
    width:50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center ;
    text-align: center;
    background-image: url(images/bags-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 400px; */
   
}
.items-6 {
    width: 100%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center ;
    text-align: center;
    background-image: url(images/womens-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 400px; */

}
p.item {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
}
.form{
position: relative;
}


input[type="email"]{
color: white;
}
input[type="submit"]{
    color: white;
    background: #e2574c;
    border-radius: 10px;
}





/* This is my Footer*/
.container-footer {
    display: flex;
    background-color:#242424;
    height: 300px;
    color: white;
    justify-content: space-around;
    margin: 0 auto;
}
.container-footer address {
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 300;
    align-items: center;
}
.email {
    color: white;
}
.site-social {
    color: white;
    text-decoration: none;
    line-height: 250%;
    align-items: center;
}
i {
    margin: 10px;
}

/* Media Query for mobile phones: */ 
@media screen and (min-width: 600px){
    .site-logo {
        order: 1;
        width: 15%;
    }
    .site-cart{
        order: 3;
        width: 15%;
    }
    .site-nav{
        order: 2;
        width: 70%;
    }
}

@media screen and (max-width: 1240px) {
  body {
    color: red;
    }
}
